extends partials/base.pug

block pageSpecificCSS

block content
  div(class='row')
    div(class='col-md-12')
      h1(class='text-center') Sign Up - Set 2 Factor Authentication 
  hr

  div(class='row')
    div(class='col-md-12') Scan the QR Code in the authenticator app and then enter the code you see
  img(src=`${qr}` class='img-fluid')

  form(action='/sign-up-2fa' method='post')
    div(class='form-group row')
      label(for='first_name' class='col-md-2 col-form-label') Code:
      div(class='col-md-10')
        input(type='text' name='code' id='code' class='form-control' placeholder='Code' required)
        div(class='invalid-feedback') Please provide a code.
    div(class='form-group row')
      div(class='col-md-12 text-center')      
        button(type='submit' class='btn btn-primary') Submit



block pageSpecificScripts